# Dependencies
node_modules/
/backend/node_modules/

# Production build outputs
dist/
/backend/dist/

# Environment variables (Sensitive Data)
.env
.env.local

# Operating System files
.DS_Store
Thumbs.db

# IDEs and Editors
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp